html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: serif;
  background:black;
  color:grey;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  color: black;
  background: lightyellow;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: grey;
  font-style: italic;
}
a:hover {
  font-weight: bold;
  cursor: alias;
}

#blockspace {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.block {
  width: 33.333%;
  padding:5%;
  text-align:center;
}

.picture {
  margin:0 auto;
}
.block-title {
  margin-top:1rem;
}
.hidden {
  display: none;
}

.aboutbutton {
  cursor: help;
  display: inline-block;
  user-select: none;
}
.aboutbutton a {
  font-style:normal;
  font-weight:normal !important;
}
.aboutbutton a:hover {
  font-style:italic;
}

header {
  position:sticky;
  top:0;
  background:black;
  cursor:default;
  user-select:none;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 columns with each taking 25% */
  align-items: end;
}
.grid-item {
  /* background-color: grey; */
  padding-right: 10%;
}

#about {
    margin-bottom:1rem;
  }




@media only screen and (max-width: 900px) {
    .block {
        width: 50%;
      }

    }




@media only screen and (max-width: 600px) {
.block {
  width:100%;
}
}